version: "3"
services:

  db:
    image: postgres:11-alpine
    environment:
      POSTGRES_DB: wiki
      POSTGRES_PASSWORD: examplepass
      POSTGRES_USER: exampleuser
    logging:
      driver: "none"
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/postgresql/data

  wiki:
    image: ghcr.io/requarks/wiki:2
    depends_on:
      - db
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: exampleuser
      DB_PASS: examplepass
      DB_NAME: wiki
    restart: unless-stopped
    ports:
      - "8084:3000"

volumes:
  db-data:
