version: "3"
services:
  watchtower:
      image: containrrr/watchtower
      container_name: watchtower
      restart: unless-stopped
      volumes:
         - /var/run/docker.sock:/var/run/docker.sock
      environment:
         - TZ=${TZ}
         - WATCHTOWER_CLEANUP=true
         - WATCHTOWER_INCLUDE_STOPPED=true
         - WATCHTOWER_REVIVE_STOPPED=false
